<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form th:action="@{/message/findByTags}" method="post">
    <label for="search_by_tag">Search by tag</label><input th:name="tags" type="text" id="search_by_tag">
    <button type="submit">Search</button>
</form>

<form th:action="@{/message/create}" method="get">
    <input type="submit" value="Write message"/>
</form>

<div>Our band posts:</div>
<div th:each="message : ${messages}">
    <div th:text="${userName}"></div>
    <div th:text="${message.getTitle()}"></div>
    <div th:text="${message.getText()}"></div>
    <form th:if="${roles.contains(adminRole)}" th:action="@{message/edit/{messageId}(messageId=${message.getId()})}" method="get">
        <input type="submit" value="Edit"/>
    </form>
    <br>
    <br>
</div>
<!--<div th:each="m"-->

</body>
</html>