<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<div>Our band posts:</div>
<div th:each="message : ${messages}">

    <div th:text="${message.getTitle()}">test commit for dima</div>
    <div th:text="${message.getText()}"></div>

</div>
<!--<div th:each="m"-->

</body>
</html>