<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/user_edit_bg.css}">
    <link rel="stylesheet" th:href="@{/css/button_user_edit_anim.css}">
    <title>Edit user</title>
</head>
<body>
    <div class="login-box">
        <form th:action="@{/users}" method="post">
            <div class="user-box">
                <label for="UserNameField"></label>
                <input type="text" name="username" th:value="${UserEdit.get().getUsername()}" id="UserNameField">
            </div>
            <div th:each="role : ${roles}" style="color:whitesmoke;">
                <label><input type="checkbox" th:text="${role}" th:name="${role}" th:checked="${UserEdit.get().getRoles().contains(role)}"></label>
            </div>
            <br>
            <br>
            <div class="user-box">
                <input type="hidden" id="user_id" th:value="${UserEdit.get().getId()}" name="userId">
            </div>
            <button class="glow-on-hover" type="submit">Save</button>
        </form>
    </div>
</body>
</html>