<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/users}" method="post">
    <label for="UserNameField">Username </label><input type="text" name="username" th:value="${UserEdit.get().getUsername()}" id="UserNameField">
    <div th:each="role : ${roles}">
        <label><input type="checkbox" th:text="${role}" th:name="${role}" th:checked="${UserEdit.get().getRoles().contains(role)}"></label>
    </div>
    <input type="hidden" id="user_id" th:value="${UserEdit.get().getId()}" name="userId">
    <input type="submit" value="Save">
</form>

</body>
</html>